* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 7.5);

}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

body {
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: var(--color-header);
    font-family: raleway-c;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: outfit-c;

}


.hero {
    width: calc(var(--index) * 36);
    position: absolute;
    left: 37vw;
    top: 8vh;
    z-index: -1;


}

.main-header {
    height: 100vh;
}

.container { 
    padding: 0 7vw;

}

.main-title {
    font-size: calc(var(--index) * 8);
    position: absolute;
    width: min-content;
    bottom: 10vh;
    line-height: .9;
}

/* gallery */

.gallery {
    display: flex;
    padding: calc(var(--index) * 8) 0;
}

.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.gallery__item {
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery-gap);
    max-height: 180vh;
    border-radius: 8px;
}

.gallery__left {
    margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right {
    margin:  0;
    margin-top: var(--gallery-gap);
    
}





