* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;

}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

body {
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: var(--color-header);
    font-family: raleway-c;
    overflow: hidden;
}


.hero {
    width: calc(var(--index) * 36);
    position: absolute;
    left: 37vw;
    top: 8vh;


}



